apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: external-dns-aws-external-secret
  namespace: kube-system
spec:
  refreshInterval: "1h"
  secretStoreRef:
    name: gitlab-secret-store
    kind: ClusterSecretStore
  target:
    name: external-dns-aws-credentials
    creationPolicy: Owner
    template:
      type: Opaque
      data:
        credentials: |
          [default]
          aws_access_key_id = {{ .AWS_ACCESS_KEY_ID_DNS }}
          aws_secret_access_key = {{ .AWS_SECRET_ACCESS_KEY_DNS }}
  data:
    - secretKey: AWS_ACCESS_KEY_ID_DNS
      remoteRef:
        key: AWS_ACCESS_KEY_ID_DNS
    - secretKey: AWS_SECRET_ACCESS_KEY_DNS
      remoteRef:
        key: AWS_SECRET_ACCESS_KEY_DNS
