apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: ghcr-cluster-external-secret
spec:
  externalSecretName: "ghcr-external-secret"

  namespaceSelector:
    matchLabels:
      custom-image: "true"

  refreshTime: 1m

  externalSecretSpec:
    secretStoreRef:
      name: gitlab-secret-store
      kind: ClusterSecretStore

    refreshInterval: "1h"

    target:
      name: ghcr-secret
      creationPolicy: Owner
      template:
        type: kubernetes.io/dockerconfigjson
        data:
          .dockerconfigjson: |
            {
              "auths": {
                "ghcr.io": {
                  "username": "HU-Lee",
                  "password": "{{ .GITHUB_PAT_PERSONAL }}",
                  "auth": "{{ printf "%s:%s" "HU-Lee" .GITHUB_PAT_PERSONAL | b64enc }}"
                }
              }
            }

    data:
      - secretKey: GITHUB_PAT_PERSONAL
        remoteRef:
          key: GITHUB_PAT_PERSONAL
